@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Play&subset=cyrillic');
* {
	margin: 0;
	padding: 0;
	outline: none;
}

html {height: 40%}


body{
	width: 100%;
	height: 10%;
	color: #333;
	background: url(https://content.instantoffices.com/Prod/images/centres/original/10632/10632-308367.jpg) no-repeat;
	background-size: 100%;
	font-size: 1em;
	font-family: 'Play', sans-serif;
	line-height: 100%;
}

a {
	color: #f48b8b;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:hover {
	color: #8b9ff5;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {color: #8ce4a6}


img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

hr {
	display: block;
	border: 0px;
	height: 1px;
	border-top: 1px solid #ccc;
	padding: 0;
}


.left {float: left}
.right {float: right}
.clear {clear: both;}

h1 {
	margin-top: 100px;
	text-align: center;
	font-size: 5em;
	color: #800000;
}

.form-signin {
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;

}

.btn {
	padding: 15px;
	margin: 0 auto;
	background: #4682B4;
}

.button .btn{width: 400px}

.form-control {margin-bottom: 10px}

